<div class="card" style="width: 18rem;">
    <img src=<%=result.img%> class="card-img-top" alt="res.name">
    <div class="card-body">
        <h5 class="card-title"><%=result.name%></h5>
        <p class="card-text"><strong>Address:- </strong>  <%=result.address%></p>
        <p class="card-text"><strong>Contact:- </strong> <%=result.contact%></p>
        <p class="card-text"><strong>Opening:- </strong> <%=result.opening%> </p>
        <p class="card-text"><strong>Closing:- </strong> <%=result.closing%></p>
        <p class="card-text"><strong>Rating:-  </strong> <%=result.rating%></p>
        <p class="card-title"><a href="/getReview?id=<%=result._id%>"> See Review</a></p>
    </div>
</div>