<div class="card" style="width: 18rem;">
    <img src=<%=result.img%> class="card-img-top" alt="res.name">
    <div class="card-body">
        <h5 class="card-title"><%=result.name%></h5>
        <p class="card-text">Address:- <%=result.address%></p>
        <p class="card-text">Contact:- <%=result.contact%></p>
        <p class="card-text">Opening:- <%=result.opening%> </p>
        <p class="card-text">Closing:- <%=result.closing%></p>
        <p class="card-text">Rating:- <%=result.rating%></p>
    </div>
</div>